.DS_Store
admin/.DS_Store
server/.DS_Store
client/.DS_Store
mobile/.DS_Store
// with this snippet from client/.gitignore:
node_modules
.DS_Store
admin/.DS_Store
*.sql
record_parcer/uploaded_count.txt
record_parcer/db 2.csv
record_parcer/db.csv
record_parcer/db.py
record_parcer/update_data.py
record_parcer/완료/1차 디비_csv로 변경해야함.csv
record_parcer/완료/csv_01.csv
record_parcer/완료/csv_01_uploaded_count.txt
record_parcer/완료/csv_01_useless.txt
record_parcer/완료/csv_02.csv
record_parcer/완료/csv_02_uploaded_count.txt
record_parcer/완료/csv_02_useless.txt
record_parcer/완료/csv_03.csv
record_parcer/완료/csv_03_uploaded_count.txt
record_parcer/완료/csv_03_useless.txt
record_parcer/완료/fake_receive_contact.csv
record_parcer/완료/fake_receive_contact.xlsx
record_parcer/완료/fake_receive_contact_uploaded_count.txt
record_parcer/완료/fake_receive_contact_useless.txt
record_parcer/완료/faker_01_column_count_errors.log
record_parcer/완료/faker_01_uploaded_count.txt
record_parcer/완료/faker_01_useless.txt
record_parcer/완료/faker_02_uploaded_count.txt
record_parcer/완료/faker_02_useless.txt
record_parcer/완료/faker_03_uploaded_count.txt
record_parcer/완료/faker_03_useless.txt
record_parcer/완료/faker_04_uploaded_count.txt
record_parcer/완료/faker_04_useless.txt
record_parcer/완료/faker_05_uploaded_count.txt
record_parcer/완료/faker_05_useless.txt
record_parcer/완료/faker_06_uploaded_count.txt
record_parcer/완료/faker_06_useless.txt
record_parcer/완료/faker_07_upload_errors.log
record_parcer/완료/faker_07_uploaded_count.txt
record_parcer/완료/faker_07_useless.txt
record_parcer/완료/json_01.json
record_parcer/완료/json_01_uploaded_count.txt
record_parcer/완료/json_01_useless.txt
record_parcer/완료/json_02.json
record_parcer/완료/json_02_uploaded_count.txt
record_parcer/완료/json_02_useless.txt
record_parcer/완료/update_data.py
record_parcer/완료/update_data_csv.py
record_parcer/완료/update_data_json.py
